header{
background: black;
color: white;
width: 240px;
height: 100vh;
position: fixed;
top: 0;
left: 0;
padding: 10px 0px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

header #logo{
    background-image:url('https://images.squarespace-cdn.com/content/v1/5880dd4dd482e9da5c3bf1ea/ebd9bc08-6b40-4b23-b616-f6c29e8b83cb/CITS_Logo_2019_RGB.png?format=1500w');
    width: 134px; 
    height: 92px;
}
    header h1,
    header a {
    color:white;
    text-decoration: none;
    }

    header h1:hover{
        color:black;
        background: white;
    }

    nav{
        padding: 0 15px;
    }

    nav ul{
        list-style: none;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    nav ul a{
        font-size: 1.3em;
        text-decoration: none;
        color: white;
    }

    nav ul a:hover {
        color: grey;
        text-decoration: underline;
    }

    .location{ 
padding: o 34px;
    }
    .social{
        display: flex;
        justify-content: space-evenly;
    }

    .social a{
font-size: 0.8em;
color: white;
text-decoration: none;
    }

.social a:hover{
    color: white;
    text-decoration: underline;
}
main{
    margin-left: 240px;
    padding: 65px;
    min-height: 100vh;
}
    
